<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/final-check-f70dbd4bdcd580cc35b1720752b8f4b1111e5d1e-f70dbd4bdcd580cc35b1720752b8f4b1111e5d1e/src/com/cognizant/moviecruiser/dao/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.cognizant.moviecruiser.dao.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="final-check-f70dbd4bdcd580cc35b1720752b8f4b1111e5d1e-f70dbd4bdcd580cc35b1720752b8f4b1111e5d1e"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
</launchConfiguration>
